# **THEORY QUESTION**

**Q.1. What is the difference between a function and a method in python?**
    -




**Q.2. Explain the concept of function arguments and parameters in python.**
    - In Function, parameters are variables that acts as a placeholder for the values. It is also called as formal argument.

    a. parameters is used in paranthesis
    b. No. of parameters are fixed in a function
    c. parameters can hold default values
    d. parameters can't change themselves

    - Argumets are values that are passed to the function when it is called.It is also called as actual argument.
    a. arguments are placed as values while calling the function
    b. no. of arguments are not fixed, it can vary.
    c. arguments can't hols default values.
    d. arguments can change as different values are passed.

    Ex:-

In [ ]:

def cube_number(x, y=5): # here x and y both are parameters and cant change themselves
  cube = []
  for i in x:
      cube.append(i**3 +y)
  return cube

In [ ]:
cube_number([2,3]) # 2 & 3 are argumets which can change as per use so its actual argument

[13, 32]

**Q.3. What are the diereent ways to define and call a function in python?**
  - These are different ways to define a function:
   #A. def number():
   #B. def number(x,y):
   #C. def number_square(x,y=5):
   #D. lambda x = x**2,number
  - These are different ways to call a function:
   #a. function() - Directly calling the finction
   #B. function(3,4) - caling the function by passing the argument
   #C.

In [ ]:
# Example 1:
def even_odd(x):
  if x%2 == 0:
    return "Even"
  else:
    return "Odd"

In [ ]:
even_odd(5) # Directly calling the function by paiing thee argument

'Odd'

In [ ]:
# Example 2:
def even_square(x):
  if x %2 == 0:
    return x**2
  else:
      return x
x = 6,7,8,9
y = [even_square(item) for item in x]
print("this is result:",y)

this is result: [36, 7, 64, 9]

In [ ]:
y   # Direct calling of function

[36, 7, 64, 9]


# -

**Q4. What is the purpose of the return statement in a python function?**

Return statement ends a function and sends back values to the caller. It is used to return the results of function operation.

In [ ]:
# Example
def sum_numbers(x,y=5):
  result = x + y
  return result   # function ends here and sends back values to the call function

In [ ]:
sum_numbers(2)

7

**Q.5.what are iterators in python and how do they differ from iterable in python?**

 - **Iterable**
 - It is any python object/sequetial structure/data structure that is capable of returning its members one at a time
permitting it to be iterated over in a for loop

     - So we can say iterable shows whether a particulat data / sequence structure is iterable or not
     whereas, iterator actually applies on each of the element present inside the data structure.

# Example :- Lists, Tuples

In [ ]:
#Iterable >>
list1 = [12,35,'ramesh','mahesh','shubham'] # list1 is **iterable** data structure
for l in list1:
  print(l)

12
35
ramesh
mahesh
shubham

In [ ]:
#Iterator
list1 = [12,35,'ramesh','mahesh','shubham'] #
for l in list1:
  print(l)

12
35
ramesh
mahesh
shubham

In [ ]:
iter(list1)

In [ ]:
r = 'manish'
iter(r)

In [ ]:
r = "manish"
for i in r:
  print(i)

m
a
n
i
s
h

In [ ]:
iter(r)

In [ ]:
a = iter(r)
next(a)    # iterator apply on all the elements of an iterable and returning its value through loop one by one.

'm'

In [ ]:
next(a)

'a'

In [ ]:
next(a)

'n'

In [ ]:
next(a)

'i'

In [ ]:
next(a)

's'

In [ ]:
next(a) # iterator element is over hence iteration also stops here. If you iterate furthur will through an error.

'h'

In [ ]:
next(a)

StopIteration:

**Q6. Explain the concept of Generators in python and how they are defined?**
  - Generators is also similar to iterators and. It is also known for efficient management of memory usage on RAM. instead of printing all the result at once like in regular function, it displays all the element as and when called one by one by the function using >> yield
  And elements are generated by using >> next()

  for Ex:-

In [ ]:

def creater1():
  i = 1
  while i <=200:
    yield i
    i += 1
print(creater1())
x = creater1()

<generator object creater1 at 0x79c362688dc0>

In [ ]:
print(next(x))

1

In [ ]:
print(next(x))

2

In [ ]:
print(next(x))

3

In [ ]:
print(list(x)) # So, Instead of printing these many data one by one fetching the data is more efficient.

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200]

In [ ]:
import sys

In [ ]:
z = sys.getsizeof(x)

In [ ]:
print(z)

192

**Q7. What are the advantages of using generators over regular function?**

   - regular function occupies more memory space on RAM vice versa Generators.
   - Generators gives option of calling the elements individually unlike regular function
   - Generators is used when large amount of elements involved and requires a particular set of data to be called as and when required, but it is difficult to do the same in a regular function.

   Generators has less execution time,computation and less calculation as well in comparision with a regular function.

   for EX:-

In [ ]:
# Regular function
def square (n):
    result = []
    for i in n:
        result.append(i**2)
    return result
square([5,10])  # Regular function display the result at once  and not one by one like generator.

[25, 100]

In [ ]:
#Generator function
def cube_generator (n):
    for i in range(n):
       yield(i**3)
cube_generator (3)

In [ ]:
gen = cube_generator (5)
next(gen)

0

In [ ]:
next(gen)

1

In [ ]:
next(gen)

8

In [ ]:
next(gen)

27

In [ ]:
next(gen) # generator function gives option to call the function one by one

64

**Q8. What is a lambda function in python and when is it typically used?**
    - lambda function is a small anonymous function that is used for simple one time operation, syntax of lambd afunction is >> lambda argument : expression,function >>

    - It is typically used in data science, functional programming, simple mathematical calculation and brief programming for small period of time to manipulate the data quickly.

    - for EX :-

In [ ]:
sq = lambda x: x**2 # So you can see this lambda function is just one liner code
sq(5)

25

In [ ]:
def sq(n):     # So you can see, just to get the same result as above we need to write three line code function.
  return n**2
t = sq(6)

In [ ]:
t

36

**Q9. Explain the purpose and the usage of the 'map() function in python.**
    - Map in Python is a function that works as an iterator to return a result after applying a function to every item of an iterable (tuple, lists, etc.). It is used when you want to apply a single transformation function to all the iterable elements.

    - Usage of Map() function

    - Pass the iterable and function as arguments to the map() function
    - Use the map() function with a lambda expression to create an anonymous    function in a single line of code
    - Convert the map object to a sequence object, such as a list or tuple,
      using their factory functions

      for Ex:-

In [ ]:
a = [12,23,45]
def square(a):
    mult = []
    for i in a:
        mult.append(i*2)
    return mult

In [ ]:
square(a)

[24, 46, 90]

In [ ]:
def add(x):
        return x +5
list(map(add,a))

[17, 28, 50]

**Q10.What is the difference between map(), reduce() and filter() function in python?**
      - Filter : It is used to simply filter the elements from a diverse set of elements based on the given function
      syntax >> filter(function,sequence)
       for Ex:-

In [ ]:
#Filter
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13]
def odd(n):
  return n%2 != 0
is_odd = list(filter(odd,numbers))

In [ ]:
is_odd

[1, 3, 5, 7, 9, 11, 13]

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13]
is_even = list(filter(lambda x: x%2 == 0,numbers))

In [ ]:
is_even

[2, 4, 6, 8, 10, 12]

In [ ]:
#Map
# Map >> It is used when you want to apply any particular operation on the iterables/sequence such as: multiply, power, add, subtract, average etc. then
# map function is very useful.
# syntax of Map function >> map(function,sequence)

num = [1,2,3,4,5,6,]
doubles = list(map(lambda x : x+2,num))

In [ ]:
doubles

[3, 4, 5, 6, 7, 8]

In [ ]:
#Reduce
# It takes all the maped or any other elements and summerize it in a most shortest form
# syntax of reduce function >> reduce(function,sequence)

In [ ]:
from functools import reduce

In [ ]:
num1 = [4,5,6,7,8,9,]
sum = reduce(lambda a,b : a+b,num1)

In [ ]:
sum

39

In [ ]:
list1 = [47,11,42,13]
sum_operation = reduce(lambda x,y : x+y,list1)

In [ ]:
sum_operation

113

#                                      **PRACTICAL QUESTION**

**Q1. Write a python function that takes a list of numbers as input and returns the sum of all even numbers in list.**

In [ ]:
list1 = [1,2,3,4,5,6,7,8,10,11,12,13,14]
def even_sum(list1):
  sum = 0
  for i in list1:
    if i%2 == 0:
      sum = sum+i
  return sum

In [ ]:
a = even_sum(list1)

In [ ]:
print(a)

56

**Q2. Create a python function that accepts a string and returns the reverse of that string.**

In [ ]:
a = input("Enter a string:")
for i in range(len(a)-1,-1,-1):
  print(a[i],end="")

Enter a string:Himesh
hsemiH

In [ ]:
a

'Manish'

**Q3. Implement a python function that takes a list of integar and returns a new list containing the squares of each numbers.**

In [ ]:
list_1 = [1,2,3,4,5,6,7,8]
def square(list_1):
  square = []
  for i in list_1:
    square.append(i**2)
  return square

In [ ]:
a = square(list_1)

In [ ]:
a

[1, 4, 9, 16, 25, 36, 49, 64]

**Q4. Write a function that checks if a given number is prime or not from 1 to 200.**

In [ ]:
number = int(input("Enter a Number"))
if number == 1:
  print("it is not a prime number")
if number >1:
  for i in range(2,number):
    if number % i == 0:
      print("it is not a prime number")
      break
else:
    print("it is a prime number:")

Enter a Number56
it is not a prime number

**Q5. Create an iterator class in python that generate the fibonacci sequence up to a specified number of terms.**

In [ ]:
n = int(input("Enter a number:"))
a = 0
b = 1
c = 0
while c <= n:
  print(c)
  a = b
  b = c
  c = a + b

Enter a number:5
0
1
1
2
3
5

**Q6. Write a generator function in python that yields the powers of 2 up to a given exponent.**

In [ ]:
def power_of_two(n):
  for i in range(n):
    yield(i**2)

In [ ]:
power = power_of_two(5)

In [ ]:
next(power)

0

In [ ]:
next(power)

1

In [ ]:
next(power)

4

In [ ]:
next(power)

9

In [ ]:
next(power)

16

**Q7. Implementa generator function thar reads a file line by line and yields each line as a string.**

**Q8. Use a lambda function in python to sort a list of tuples based on the second element of each tuple**

In [ ]:
My_list = (("bhabna",30),("abala",25),("chubham",19))
print(sorted(My_list, key = lambda x : x[1]))

[('chubham', 19), ('abala', 25), ('bhabna', 30)]

**Q9. Write a python programm that uses map() to convert a list of temperatures from celsius to fahrenheit.**

In [ ]:
T = [39.2, 36.5, 37.3, 38, 37.8]
def far(T):
  return (T*9/5)+32
list(map(far,T))

[102.56, 97.7, 99.14, 100.4, 100.03999999999999]

**Q10. Create a python programm that uses filter() to remove all the vowels from a given string.**

In [ ]:
# without Filter
string  = input("enter a string")
vowel_string = "aeiouAEIOU"
print("input string",string)
for char in string:
  if char in vowel_string:
    string = string.replace(char,"")
print("output string",string)

enter a stringmy name is manish
input string my name is manish
output string my nm s mnsh

In [ ]:
#With Filter
string  = ("My name is manish")
def vowel(string):
  vowel_string = "aeiouAEIOU"
  for char in string:
    if char in vowel_string:
      string = string.replace(char,"")
  return string

In [ ]:
a = list(filter(vowel,string))

In [ ]:
a

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'm', 'n', 's', 'h']